.main_section {
    display: flex;
    flex-flow: row nowrap;
   
    justify-content: space-between;
    
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
/* @media (min-width: 640px) {
    .main_section {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .main_section  {
        max-width: 768px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
} */
.profile_section {
    padding-left: 2rem;
    padding-top: 1rem;
    width:400px;
    
}

.profile_image{
    height: 210px;
}
.profile_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-top: 1rem;
    margin-bottom: 2px;
}
.profile_details_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    padding-top: 1rem;
    margin-bottom: 2px;
}
@media (max-width: 640px) {
    .profile_section {
       display: none;
    }
}
.users_section{
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
.pagination{
    background-color:whitesmoke;
    border-radius:0.75rem;
    float:right;
}